# Bogumił Kamiński, 2019-03-25

In [1]:
using DataFrames

In [2]:
lines = readlines("sample_dataframes.log")

22855-element Array{String,1}:
 "commit ef530285cc6991660feac33d71f332e1a7e34686"
 "Author: Bogumił Kamiński <bkamins@sgh.waw.pl>"
 "Date:   Wed Mar 13 21:17:48 2019 +0100"
 ""
 "    upgrade documentation (#1748)"
 ""
 " src/groupeddataframe/grouping.jl | 153 ++++++++++++++++++++++++++++++++-------"
 " 1 file changed, 125 insertions(+), 28 deletions(-)"
 ""
 "commit b69c5980109a49ea3bfe6234173a8db16f8e2cba"
 "Author: Milan Bouchet-Valat <nalimilan@club.fr>"
 "Date:   Wed Mar 13 16:01:16 2019 +0100"
 ""
 ⋮
 ""
 "commit 7748932214898a2a65dba24d3f4a301f365e3be2"
 "Author: Douglas Bates <dmbates@gmail.com>"
 "Date:   Sat Mar 17 16:57:17 2012 -0500"
 ""
 "    Merge remote-tracking branch 'upstream/master'"
 ""
 "commit f177b72614dbb652c06372b1de5e6cf9df5f81b1"
 "Author: Viral Shah <viral@mayin.org>"
 "Date:   Sun Jan 30 23:12:57 2011 +0530"
 ""
 "    Move editor definition files to extras. You may have to change your paths."

In [3]:
author = r"^Author: ([^<]*) <"
insc = r"^.+changed, ([0-9]+) insertion"
delc = r"^.+changed.*, ([0-9]+) deletion"

r"^.+changed.*, ([0-9]+) deletion"

In [4]:
authordata = DataFrame(author=String[], action=String[], count=Int[])

0×3 DataFrame

In [5]:
curauthor = ""

""

In [6]:
for line in lines
    m = match(author, line)
    if m !== nothing
        global curauthor = m[1]
    end
    m = match(insc, line)
    m === nothing || push!(authordata,
                           [curauthor, "insertion", parse(Int, m[1])])
    m = match(delc, line)
    m === nothing || push!(authordata,
                           [curauthor, "deletion", parse(Int, m[1])])
end

In [7]:
authorstats = by(authordata, [:author, :action], count = :count=>sum)

278×3 DataFrame
│ Row │ author               │ action    │ count │
│     │ String               │ String    │ Int64 │
├─────┼──────────────────────┼───────────┼───────┤
│ 1   │ Bogumił Kamiński     │ insertion │ 12717 │
│ 2   │ Bogumił Kamiński     │ deletion  │ 9104  │
│ 3   │ Milan Bouchet-Valat  │ insertion │ 9720  │
│ 4   │ Milan Bouchet-Valat  │ deletion  │ 8765  │
│ 5   │ pdeffebach           │ insertion │ 499   │
│ 6   │ pdeffebach           │ deletion  │ 631   │
│ 7   │ Harry Scholes        │ insertion │ 41    │
│ 8   │ Harry Scholes        │ deletion  │ 27    │
│ 9   │ Katharine Hyatt      │ insertion │ 27    │
│ 10  │ Katharine Hyatt      │ deletion  │ 22    │
⋮
│ 268 │ Keith                │ insertion │ 1     │
│ 269 │ Keith                │ deletion  │ 11    │
│ 270 │ Andreas Noack Jensen │ insertion │ 212   │
│ 271 │ Andreas Noack Jensen │ deletion  │ 67    │
│ 272 │ Harlan Harris        │ insertion │ 4514  │
│ 273 │ Harlan Harris        │ deletion  │ 1898  │
│ 274 │ Nathaniel Daw        │ insertion │ 6     │
│ 275 │ Nathaniel Daw        │ deletion  │ 23    │
│ 276 │ Chris DuBois         │ insertion │ 993   │
│ 277 │ Chris DuBois         │ deletion  │ 432   │
│ 278 │ Stefan Karpinski     │ deletion  │ 4     │

In [8]:
df = unstack(authorstats, :action, :count)

150×3 DataFrame
│ Row │ author               │ deletion │ insertion │
│     │ String               │ Int64⍰   │ Int64⍰    │
├─────┼──────────────────────┼──────────┼───────────┤
│ 1   │ Adam Labadorf        │ 1        │ 1         │
│ 2   │ Alain Lichnewsky     │ 1        │ 1         │
│ 3   │ AlainLich            │ 1        │ 1         │
│ 4   │ Alex Arslan          │ 1112     │ 197       │
│ 5   │ Alex Mellnik         │ 100      │ 164       │
│ 6   │ Alexey Stukalov      │ 466      │ 1284      │
│ 7   │ Andreas Noack        │ 627      │ 455       │
│ 8   │ Andreas Noack Jensen │ 67       │ 212       │
│ 9   │ Andy Ferris          │ 3        │ 4         │
│ 10  │ Andy Hayden          │ 13       │ 14        │
⋮
│ 140 │ milktrader           │ 260      │ 260       │
│ 141 │ pdeffebach           │ 631      │ 499       │
│ 142 │ petershintech        │ 10       │ 18        │
│ 143 │ quinnj               │ 1604     │ 1757      │
│ 144 │ rofinn               │ 81       │ 58        │
│ 145 │ ssirai               │ 2        │ missing   │
│ 146 │ statuser             │ 1        │ 1         │
│ 147 │ tan                  │ 41       │ 809       │
│ 148 │ timema               │ 6        │ 12        │
│ 149 │ timholy              │ 1        │ 1         │
│ 150 │ tshort               │ 326      │ 267       │

In [9]:
df.all = coalesce.(df.deletion, 0) .+ coalesce.(df.insertion, 0)

150-element Array{Int64,1}:
    2
    2
    2
 1309
  264
 1750
 1082
  279
    7
   27
    2
    4
    4
    ⋮
  140
  520
 1130
   28
 3361
  139
    2
    2
  850
   18
    2
  593

In [10]:
sort!(df, :all, rev=true)

150×4 DataFrame
│ Row │ author                 │ deletion │ insertion │ all    │
│     │ String                 │ Int64⍰   │ Int64⍰    │ Int64  │
├─────┼────────────────────────┼──────────┼───────────┼────────┤
│ 1   │ John Myles White       │ 31288    │ 105657    │ 136945 │
│ 2   │ Cameron Prybol         │ 73847    │ 3486      │ 77333  │
│ 3   │ Tom Short              │ 10039    │ 12975     │ 23014  │
│ 4   │ Bogumił Kamiński       │ 9104     │ 12717     │ 21821  │
│ 5   │ Milan Bouchet-Valat    │ 8765     │ 9720      │ 18485  │
│ 6   │ Sean Garborg           │ 9991     │ 4008      │ 13999  │
│ 7   │ Harlan Harris          │ 1898     │ 4514      │ 6412   │
│ 8   │ Douglas Bates          │ 1700     │ 2087      │ 3787   │
│ 9   │ quinnj                 │ 1604     │ 1757      │ 3361   │
│ 10  │ Simon Kornblith        │ 1680     │ 1461      │ 3141   │
⋮
│ 140 │ Jonas Klasen           │ 1        │ 1         │ 2      │
│ 141 │ Kenta Sato (佐藤 建太) │ 2        │ missing   │ 2      │
│ 142 │ Mike Innes             │ 1        │ 1         │ 2      │
│ 143 │ Peter Mancini          │ 1        │ 1         │ 2      │
│ 144 │ Tim Lebel              │ 1        │ 1         │ 2      │
│ 145 │ Tyler Beason           │ 1        │ 1         │ 2      │
│ 146 │ ggggggggg              │ 1        │ 1         │ 2      │
│ 147 │ ssirai                 │ 2        │ missing   │ 2      │
│ 148 │ statuser               │ 1        │ 1         │ 2      │
│ 149 │ timholy                │ 1        │ 1         │ 2      │
│ 150 │ fiatflux               │ missing  │ 1         │ 1      │